pytest
gunicorn[eventlet]
flask
flask-socketio
flask-cors
pydantic-settings
sqlalchemy
pymysql
sqlmodel
git+https://github.com/bpetrikovics/meshtastic-mqtt-json.git@multi-channel#egg=meshtastic-mqtt-json
